.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range {
background-color: var(--green) !important;
}

.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header{
  font-weight: 500 !important;
}

.react-datepicker__navigation{
  top:10px !important;
}

.react-datepicker__header{
  background-color: none !important;
}

.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::after{
  border-bottom-color: var(--white) !important ;
}

.react-datepicker__header{
  border-bottom: 1px solid var(--border) !important;
  padding: 15px 0px !important;
}