.funding_container{
  padding: 10px 7px 50px 7px;
  margin:0 auto;
  max-width: var(--max-content-width);
  width: 100%;
}

.user_profile{
  display: flex;
  align-items: center;
}

.user_profile_img {
  width: 45px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 100%;
  border: 1px solid var(--border);
  margin-right: 10px;
}

.introduce{
  width: 100%;
  padding: 30px 10px;
  min-height: 400px;
}

.host_nickname{
  font-weight: 700;
}

.title{
  height: 50px;
  margin-top: 20px;
}

.funding_itemarea {
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding: 30px 0px;
  display:grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 25px;
}

/*반응형*/
@media screen and (max-width: 768px/* md - medium screens */) {
  .funding_itemarea {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px/* sm - small screens */) {

  .funding_itemarea{
    padding: 0px;
    grid-template-columns: repeat(1, 1fr);
    width:100%;
  }
}