.body{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  /* background-color: rgba(0, 0, 0, 0.5); */
  display: flex;
  justify-content: center;
  z-index: 100;
}

.container {
  /* 모달창 크기 */
  margin-top: 10px;
  width: 80%;
  /* 위치 */
  position: absolute;

  /* 모달창 디자인 */
  background-color: white;
  /* border: 1px solid var(--secondary); */
  border-radius: 8px;
  padding:10px 10px 0px 10px;
}

/* 모달창 내부 X버튼 */
.close {
  background-color: white;
  border: 0px solid white;
  /* border-radius: 4px; */
  position: absolute;
  right: 10px;
  top: 11px;
}

.recommendtxt >p {
  font-size: 16px;
  font-weight: 700;
  margin:0px;
}

.recommendtxt{
  margin: 15px 0px 0px 15px;
  padding-bottom: 10px;
}

.recommendlist {
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 5px;
  padding-left: 0px;
  letter-spacing: -0.02px;
  font-size: 14px;
  list-style-type:none;
  line-height: 28px;
  color: var(--teritary);
}

.recommendlist > li:hover{
  color:var(--green);
}

.search_bar_container{
  width: 90%;
  height: 35px;
  border-radius: 7px;
  border: none;
  padding: 0px 15px;
  display: flex;
  align-items: center;
  background: var(--border);
}

.search_bar{
  border: 0px;
  box-sizing: border-box;
  outline: none;
  width: 100%;
  font-size: 16px;
  border-radius: 8px;
  background: transparent;
}

.search_bar_button {
  /* margin-left: -40px; */
  border: 0px solid white;
  margin-top: -5px;
}

.search_bar_button_detail{
  color:var(--teritary);
  width: 20px;
  height: 20px;
}

  
/* @media screen and (max-width: 576px) {
  .container {
    width: 150px;
  }
} */