.search_bar_container{
    margin-left: auto;
    height: 35px;
    border-radius: 7px;
    border: none;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    background: var(--border);
}

.search_bar_area{
    display: flex;
    flex-direction: column;
}

.search_bar{
    border: 0px;
    box-sizing: border-box;
    outline: none;
    width: 160px;
    font-size: 16px;
    border-radius: 8px;
    background: transparent;
}

.search_bar::placeholder{
    color:var(--teritary);
    font-size: 14px;
}

.search_bar_button {
    /* margin-left: -40px; */
    border: 0px;
    color:var(--teritary);
    width: 20px;
    height: 20px;
    margin-left: 3px;
  
}

@media screen and (max-width: 576px) {
    .search_bar{
        width: 100px;
    }
    .search_bar::placeholder{
       display:none;
       width:0px
    }

}
