.label {
    color: var(--teritary);
    transition: all 0.3s;
}

.label_error {
    border: 1px solid #FF0303 !important;
}

.error_message{
    margin-left: 25px;
    color: #FF0303;
    margin-bottom: 10px;
}