.footer_container{
    max-width: var(--max-content-width);
    margin: 0 auto;
    padding:30px 0px 60px 0px;
    display: flex;
}

.footer_logo {
    font-size: 0.8em;
}
.footer_details {
    font-size: 0.8em;
}