.footer {
    
}

.footer_area{
    background-color: var(--border);
}

.footer_container{
    max-width: var(--max-content-width);
    margin: 0 auto;
    padding: 30px 7px 50px 7px;
}

.footer_logo > h1 {
    color:var(--primary0);
    letter-spacing: -0.02em;
    font-weight: 700;
    font-size: 1.4em;
}


.footer_logo {
    text-align: center;
    padding-left: 0px !important;
    margin-bottom:10px;
}

.footer_details {
   color:var(--teritary);
   padding-left: 0px !important;
   padding-right: 0px !important;
}

ul{
    list-style: none;
    padding-left: 0px !important;
}
.footer_info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.footer_info > li {
font-size:14px;
line-height: 28px;
}

.footer_info > li::after{
margin: 0 7px;
color: #dde2e6;
content: "|";
}

.footer_info > li:nth-child(7)::after,
.footer_info > li:nth-child(4)::after,
.footer_info > li:last-child::after {
  content: none; 
}


@media screen and (max-width: 570px) {
  
  }
  
  