.header_container{
    width:100%;
    background-color: var(--white);
    /* border-bottom: 1px solid var(--border); */
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 6px;
    z-index: 1000;
    margin-bottom: 30px;
}
.header_area{
    padding: 20px 10px 0px 10px !important;
    max-width: var(--max-content-width) !important;
    margin: 0 auto;
    --bs-gutter-x: none !important;
}

.header_navbar{
    padding-top: 0px !important;
    --bs-navbar-padding-x: none !important;
    --bs-navbar-brand-margin-end: none !important;
    --bs-navbar-padding-y: none !important;
    --bs-navbar-brand-padding-y: none !important;
}

.header_brandcontainer {
    display:flex;
    width:100%;
    min-width: 100%;
    padding: 0px !important;
    margin: 0px;
}


.page_logo {
    margin-left: 10px;
}

.header_login_btn {
    border-radius: 7px !important;
    display: inline-flex;
    height: 40px;
    font-size: 12px;
    padding: 10px;
    /* margin: 30px; */
    align-items: center;
}


.sb  > span{
background-image: none;
}

.sb{
    border: none !important;
}

.sb_icon{
    width:28px ;
    height:28px ;
    color:var(--primary);

}

.header_logo_nav{
   
    height: 40px;
    display: flex;
    align-items: center;
}

.logo_container .user_edit{
    flex: 0 0;
    margin: 10px 10px 10px 0px;
}

.header_nav_container {
    --bs-navbar-padding-x: none !important;
    --bs-navbar-padding-y: none !important;
    margin-top: 20px;
    align-items: flex-end;
    margin-right:0 !important;
    margin-left: 0 !important;
    padding: 0px;
}

.header_nav_underline{
    display:flex;
    width:100%;
    --bs-nav-link-padding-y: 15px !important;
    --bs-nav-link-color: var(--primary) !important;
    --bs-nav-link-hover-color: #1C6758 !important;
}
.header_nav_container  .left{
    width:40%;
font-size: 16px;
letter-spacing: -0.01px;
align-items: center;
display: flex;
}

.user{
    width:28px;
    height:28px;
    border: 1px solid var(--secondary);
    border-radius: 100%;
   margin-right: 5px;
   margin-left: 15px;
}

.user_nickname{
    
    font-size: 12px;
    font-weight: 500;
}


.login_svg{

    color:var(--primary);
    margin-right: 5px;
    width:14px;
    height:14px;
}

.login_text{
    font-weight: 500;
    font-size: 12px;
    color:var(--primary);
}

.header_nav_container .right{
    max-width:60%;
margin-left: auto;
}

.page_profile_container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header_login_btn{
    border: 1px solid var(--secondary);
    color:var(--primary);
    border-radius: 7px;
    height:35px;
}

.right{
    margin-left: auto;
}

.left > a{
    font-size: 16px;
}

@media screen and (min-width: 576px) {

}


@media screen and (max-width: 576px) {
    .user_nickname,
    .login_text{
        display:none;
       }
       .login_svg{

        margin-right: 0px;

    }


    .user{
        margin-right: 0px;
        margin-left:10px;
    }
    .header_login_btn{
        margin-right: 0px;
    }
    

}
