.header_container{
    max-width: var(--max-content-width);
    margin: 0 auto;
}

.logo_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page_logo {
    margin-left: 10px;
}

.header_login_btn {
    display: inline-flex;
    border: 1px solid #555555;
    height: 40px;
    font-size: 12px;
    border-radius: 4px;
    padding: 10px;
    margin: 30px;
    align-items: center;
}

.logo_container .user_edit{
    flex: 0 0;
    margin: 10px 10px 10px 0px;
}

.header_nav_container {
    display: flex;
    justify-content: space-around;
}
.header_nav_container .left{
    flex: 1 1 auto;
}
.header_nav_container .right{
    margin-right: 0px;

    flex: 0 0;
}

.nav_item{
    display: inline-block;
    margin:  0px 10px 0px 10px;
}

.page_profile_container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}