.login-container{
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-wrapper{
  width: min(500px, 100vw);
  padding: 40px;
  margin-bottom: 50px;
  box-sizing: border-box;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
}

.login-wrapper > h1{
  font-size: 36px;
  color: var(--primary);
  margin-bottom: 30px;
  font-weight: 700;
}

.login_label{
  font-size: 16px;

}

.login-form-input{
  width: 100%;
  height: 45px;
  padding: 0 10px;
  border: 0;
  box-sizing: border-box;
  margin-bottom: 30px;
  border-radius: 7px;
  background-color: var(--white);
  border: 1px solid var(--secondary);
}

.login-form-input:focus,
.login-form-input:active{
border:1px solid var(--green);
}

.login-form-button{
  width: 100%;
  height: 48px;
  padding: 0 10px;
  border: 0;
  box-sizing: border-box;
  margin-bottom: 16px;
  border-radius: 6px;
  background-color: var(--green);
  color: var(--white);
  cursor: pointer;
  border: 1px solid var(--green);
  box-shadow: none;
}
.login-form-button:hover{
  background-color: var(--green-dark);
}
.login-form-button:active{
  color: var(--white);
  background-color: var(--blue);
  border-color: #0d6efd;
}


.login-form-input:focus{
  outline: none;
}

.login-form-forgot{ 
  margin-bottom: 15px;
  text-decoration: none;
  color: var(--teritary);
  font-size: 14px;
}

.sns_login_area{
  margin-top: 10px;

}
.sns_login_container{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.sns_login_button {
  padding: 0px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.sns_login_phrase{
  font-size: 14px;
  color:var(--teritary);
  margin: 0px auto;
  text-align: center;
  margin-bottom: 20px;
} 

.register_container {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  margin: 50px 0px 0px 0px;
  font-size: 14px;
  letter-spacing: -0.01em;
  font-weight: 500;
  color: rgb(158, 158, 158);
}

.register_link {
  margin-left: 10px;
  color: rgb(39, 163, 255);
  text-decoration: underline;
}

