.guide{
    background-color: var(--border);
    font-size: 14px;
    letter-spacing: -0.01em;
    padding:20px !important;
    border-radius: 7px;
}

.guide_bold{
    margin-bottom:5px;
    font-weight: 700;
    display:flex;
    align-items: center;
}

.guide_svg{
    width:18px;
    height:18px;
    margin-right: 5px;
}