/*펀딩 목록*/
.funding_card {
    align-items: center;
    border-radius: 0 !important;
    border: none !important;
    padding-bottom: 50px;
}

.card {
  border: 1px solid var(--border);
  border-radius: 7px;
  overflow: hidden;   
}
.card > a > img:hover{
  transform:scale(1.1);            
   transition: transform .5s; 	
}
  

.funding_item_thumbnail {
  transform:scale(1.0);        
  transition: transform .5s; 
    width:100%;
    aspect-ratio: 5/4;
    object-fit: cover !important;
}

.funding_tags_area {
    margin-top: 10px;
    padding:5px 0px;
    margin-bottom: 0px !important;
    display:flex;
}

.funding_item_tags  {
    color: var(--teritary);
    font-size: 14px;
    list-style: none;
    padding-left: 0px;
    margin-right: 7px;
    margin-bottom: 0px !important;
}

.funding_item_tags_emphasis {
    color: var(--green);
}

.funding_item_title {
    height:55px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.01px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
}

  /*펀딩 달성도, 남은 기간, 달성 금액*/
.funding_progress_percantage {
    display:flex;
    margin-top: 10px;
    padding:5px 0px;
    align-items: center;
    color:var(--green);
    font-size: 16px;
    font-weight: 700;
}
  
.funding_progress_percantage > span {
    margin-left: 5px;
    font-weight: 500;
    color:var(--gray);
    font-size: 12px;
}

.progress_resttime{
    margin-left: auto !important;
    font-size: 12px;
    font-weight: 500;
    color:var(--green);
    text-align: center;
    justify-content: center;
    padding:0px 5px;
    background-color: var(--green-light);
    border-radius: 4px;
}


@media screen and (max-width: 576px/* sm - small screens */) {
    .funding_card{
      width:100%;
      justify-content: center;
      align-items: center;
      padding-bottom: 0px;
      display:flex;
      padding:30px 0px;
      border-bottom: 1px solid var(--border) !important;
    }

    .card{
      width:35%;
    }
    .funding_item_thumbnail{
      aspect-ratio: 5/4;
    }

    .responsive_wrap{
      flex-direction: row;
      align-items: center;
      width:60%;
    }
    .funding_item_title, .funding_tags_area{
      margin-top: 0px;
      margin-left: 15px;
    }
  
    .funding_progress_percantage {
      margin-top: 0px;
      margin-left: 15px;
    }
}