.container > h3 {
  margin-left: 80px;
  margin-top: 30px;
}

.FloatingLabel{
  width: 40%;
  margin-top: 40px;
  margin-left: 270px;
  margin-bottom: 160px;

}

.container > p {
  text-align: center;
  margin-top: 40px;
}
