.resetpw_container {
  border: 1px solid var(--secondary);
  margin: 0 auto;
  width:450px;
  border-radius: 7px;
  padding: 10px;
  margin-bottom: 50px;
}

.resetpw_container h3 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  margin-left:25px;
}

.resetpw_container p {
  font-size: 14px;
  font-weight: 400;
  margin-left:25px;
  margin-top: 20px;
}

.FloatingLabel{
  width:90%;
  margin:0 auto;
  
  }
  .reset_form{
    margin-top: 20px;
    width: 100%;
    border-radius: 0px;
    border: 1px solid var(--secondary);
  }
  
  .reset_form:focus{
    border: 1px solid var(--green);
  }

  .button{
    border-radius: 0px;
    font-size: 14px;
    padding: 15px 50px;
    background-color: var(--green);
    border: 1px solid var(--green);
    color: white;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .button:hover,
.button:active{
background-color: var(--green-dark);
border: 1px solid var(--green-dark)
}