.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container > h3 {
  margin-top: 30px;
}

.container > p {
  margin-top: 30px;
}

.FloatingLabel {
  margin: 0 auto;
}

.button{
  height: 40px;
}