a {
  text-decoration: none;
  color:inherit;
}

.car {
  display:flex;
}

.list-wrap {
  justify-content: center;
  align-items: center;
  max-width:900px;
  margin: 0 auto;
  margin-top: 20px;
}

.container {
  border-top:1px solid #f3f3f3;
  display:flex;
  padding-left: 0; 
  margin-left: 0; 
}

.slidercontents, .slidercontents2 {
  height: 300px;
  display: flex;
  align-items: center;
}

.slidercontents img,
.slidercontents2 img{
	width: 33%;
	aspect-ratio: 4 / 3;
	border-radius: 8px;
	background-color: #fff!important;
}

.slidercontents button,
.slidercontents2 button{
border:none;
border-radius: 8px;
padding: 5px 10px;
background-color: #d9d9d9;
}

.wrapText {
  margin-left: 5%;
}

.control{
  margin-top:10px;
  width:20%;
  display:flex;
  flex-wrap: wrap;
  margin-right:0;
  justify-content: center;
  max-height: 100px;
}

.control button{
  background-color: #d9d9d9; /*나중에 메인 컬러로 수정*/
  width:150px;
  margin-top: 30px;
  margin-bottom: 20px;
  border:none;
  height:40px;
  border-radius: 7px;
}

.control button:hover{
  color:#fffffF;
  background-color: #0d0d0d;
}

.sort-btn {
  display:flex;
}

 .recent-btn, .popular-btn {
  display: inline-flex;
  border: 1px solid #d9d9d9;
  height: 32px;
  font-size: 14px;
  border-radius: 4px;
  padding: 0px 8px;
  line-height: 32px;
}

.recent-btn:hover, .popular-btn:hover {
background-color: #d9d9d9;
}

.article ul{
  padding-left: 0; 
  margin-left: 0; 
}

.article li {
  list-style-type: none;
  border-bottom: 1px solid #f3f3f3;
}

.category-wrap{
  display:flex;
}

.board{
  width:80%;
  margin-right:30px;
  min-height: 600px;
}


table{
  border-collapse: collapse;
  border-spacing:0;
}


.board-table {
  font-size: 14px;
  width: 100%;
}

.board-table a {
  color: #0d0d0d
  display: inline-block;
  line-height: 1.4;
  word-break: break-all;
  vertical-align: middle;
}
.board-table a:hover {
  text-decoration: underline;
}
.board-table th {
  text-align: center;
}

.board-table .th-num {
  width: 75px;
  text-align: center;
}

.board-table .td-title {
  text-align: left;
}

.borad-table .th-cat{
  width: 100px;
  text-align: center;
}

.board-table .th-author {
  width: 100px;
}


.board-table .th-views {
  width: 75px;
}


.board-table th, .board-table td {
  padding: 14px 0;
}

.board-table tbody td {
  text-align: center;

}

.board-table tbody th {
  padding-left: 28px;
  padding-right: 14px;
  text-align: left;
}

.board-table tbody th p{
  display: none;
}

.board-table tbody tr:hover{
  background-color: #f3f3f3;
}

.cat-menu{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pagination{
  margin-top:20px;
  width:80%;
  justify-content: center;
}

.active>.page-link, .page-link.active {
  z-index: 3;
  background-color:#f3f3f3;
  border:none;
  color:#0d0d0d;
  border:1px solid #d9d9d9;
}
  

.page-link {
  color: #0d0d0d;
  text-decoration: none;
  border:1px solid #d9d9d9;
}

.form-control:focus {
  border-color: #d9d9d9;
  box-shadow: none;
}

.dropdown-item:focus {
background-color: #d9d9d9;
color:#0d0d0d;
}