.uploader-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-wrapper{
    position: relative;
}
.imgSize{
    background-color: var(--white);
    width: 100px;
    height: 100px;
    border: 1px solid var(--secondary);
    border-radius: 50%;
    object-fit: cover;
    box-shadow: none !important;
}



/* .img-wrapper img {
    border: 1px solid black !important;
} */

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: var(--secondary);
    width: 60px;
    height: 60px;
}
.upload-button{
    margin: 0 5px;
}

.upload-button > button{
    margin-top: 20px;
    padding: 3px 15px;
    color:var(--primary);
    background-color: var(--white);
    border: 1px solid var(--secondary);
}