.register_container{
    border: 1px solid var(--secondary);
    margin: 0 auto;
    width:450px;
    border-radius: 7px;
    padding: 10px;
    margin-bottom: 50px;
}

.register_container > p {
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
    margin-left:25px;
}

.button_submit {
    font-size: 14px;
    padding: 15px 50px;
    width: 90%;
    margin:0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 0;
}

.validate_input{
    width: 90%;
    margin:0 auto;
    margin-bottom: 10px;
    margin-top: 20px;
}

.validate_input_no_label{
    margin-top: 0px;
}

@media screen and (max-width: 576px/* sm - small screens */) {
    .register_container{
        border: none;
        width:100%;
    }

    .register_container > p {
        margin-left:0px;
    }

    .validate_input {
        width: 100%;
    }
    .button_submit {
        width: 100%;
    }
}