.container > h1{
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 2em;
}

.img-wrapper {
  width: 180px;
  margin: auto;
}
  
.CheckboxLabels {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

.container > h4{
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 24px;
}

.container > p {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 15px;
}

.Alert{
  text-align: center;
}

.Accordion{
  font-size: 14px;
}

.Button {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-bottom: 100px;
  margin-right: 20px;
  gap: 20px;
}
