@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap');


.co {
  margin-left: 7000px;
  font-size: 24px;
  text-overflow : ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
}