  h3 {
    font-size: 24px;
    font-weight: bold;
    margin-left: 100px;
    margin-bottom: 40px;
    

  }
  
  .fundingState {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  margin-left: 100px;
  margin-bottom: 50px;
}

 
 .Fundingthumbnail img {
  width: 200px;
  height: 200px;
  object-fit: cover;
 } 

