

.admin_contents_container{
  width:100%;
  max-width: var(--max-content-width);
  padding: 0px 10px 50px 10px;
  margin: 0 auto;
}

.admin_contents_container h3{
  font-weight: 300;
  font-size: 28px;
  margin-top: 20px;
}



.admin_tab_container{
  background-color: var(--green-dark);
  display:flex;
  justify-content: flex-end;
  padding-right: calc((100% - 1080px)/2 + 10px);
}

.admin_tab_container > li {
  padding-top:30px;
}
.admin_tab_container > li >button {
  font-weight: 500;
  padding: 10px 15px 10px 15px;
  border: none !important;
  background-color: var(--border);
  color:var(--teritary);
}

.admin_tab_container > li >button:hover {
  color:var(--teritary);
}

.h3 {
    font-size: 24px;
    font-weight: bold;
    margin-left: 100px;
    margin-bottom: 40px;
}
  
.fundingState {
  /* display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 20px; */
}

.fundingState_item{
  border-bottom: 1px solid var(--secondary);
  display:flex;
  align-items: center;
  padding:20px 0px;
}
 
.fundingState_item img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 7px;
  border: 1px solid var(--secondary);
 } 

 .fundingState_textarea{
  width:50%;
  margin-left: 30px;
 }

 .fundingState_value,
 .rejected{
  background-color: var(--border);
  padding:3px 15px;
  font-weight: 500;
  display: inline-block;
  text-align: center;
  border-radius: 7px;
  margin-bottom: 10px;
 }

 .rejected{
  color:var(--red);
 }


.FundingTitle{
  display:flex;
  font-weight: 700;
  font-size: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.FundingHost {
  font-size: 14px;
}

.FundingTag {
  margin-right: 7px;
  color:var(--teritary);
}

.button_area{
  margin-left: auto;
  width:20%;
  display: flex;
  flex-direction: column;
}

.button_area button{
width:100%;
border: none;
padding:10px 30px;
border-radius: 4px;
}

.button_area button:hover{
color:var(--teritary);
  }

.button_approve{
  color:var(--white) !important;
  margin-bottom: 20px;
  background-color: var(--green);
}

.button_approve:hover{
  background-color: var(--green-dark);
}

.funding_profile_table{
  margin: 15px 0px;
  font-size: 13px;
  color: var(--primary);
  width:100%;
}

.funding_profile_table > tbody > tr > td:nth-child(1) {
  font-weight: 700;
}

/*테이블*/
.report_table{
  table-layout: fixed;
  width:100%;
  font-size: 16px;
}


.report_table thead *{
  font-weight: 700;
  text-align: center;
  background-color: var(--border);
  border-bottom: 1px solid var(--secondary);
}

.report_table thead > tr > th{
  padding:10px 0px;
}

.table_num {
  width:70px;
}

.table_title{
  width:calc((100% - 70px) /2);
}
.report_table tbody > tr > td:nth-child(1){
  text-align: center;
}

.report_table tbody > tr > td:nth-child(2){
  padding-left: 30px;
}

.report_table tbody > tr > td{
  padding:10px 0px;
}


.report_table tbody > tr{
  border-bottom: 1px solid var(--border);
}
.report_table tbody > tr:hover{
  background-color: var(--border);
}

/*신고사유*/
/* .reason_content{
  width:100%;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
  max-height:110px;
   
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
} */