

.admin_contents_container{
  width:100%;
  max-width: var(--max-content-width);
  padding: 0px 10px 50px 10px;
  margin: 0 auto;
}

.admin_tab_container{
  background-color: var(--green-dark);
  display:flex;
  justify-content: flex-end;
  padding-right: calc((100% - 1080px)/2 + 10px);
}

.admin_tab_container > li {
  padding-top:30px;
}
.admin_tab_container > li >button {
  font-weight: 500;
  padding: 10px 15px 10px 15px;
  border: none !important;
  background-color: var(--border);
  color:var(--teritary);
}

.admin_tab_container > li >button:hover {
  color:var(--teritary);
}

.h3 {
    font-size: 24px;
    font-weight: bold;
    margin-left: 100px;
    margin-bottom: 40px;
}
  
.fundingState {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 20px;
  margin-left: 100px;
  margin-bottom: 50px;
}

 
.Fundingthumbnail img {
  width: 200px;
  height: 200px;
  object-fit: cover;
 } 

.FundingHost {
  font-size: 14px;
}

.FundingTag {
  margin-bottom: 5px;
  
}