.funding_write_wrap{
    padding: 10px 10px 50px 10px;
    margin:0 auto;
    max-width: 1080px;
    display:flex;
    justify-content: center;
}

.funding_profile_container{
    height:500px;
    top: 50px;
    position:sticky;
    width:220px;
    flex-direction: column;
}
.profile_container{
    align-items: end;
    margin-top: 10px;
}
.profile_container > button {
    background-color: transparent;
    width:80%;
    border: none;
    padding: 10px 20px;
    text-align: left;
    margin-bottom:10px;
    color:var(--primary);
    font-size: 14px;
    letter-spacing: -0.01em;
    border-radius: 20px;
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
  }
  .profile_container > button:hover,
  .profile_container > button:active,
  .profile_container > button:focus {
    background-color: var(--border);
  }

  .go_write{
    border-radius: 20px;
    color: var(--green) !important;  
    transition: background-color 1s;
}


.profile_title{
    border-radius: 25px 25px 0px 25px;
    display: flex;
    flex-direction: column;
    background-color: var(--green);
    justify-content: center;
    padding: 30px 10px;
    place-content: center;
    transition: background-color 1s;
}

.list_big{
    font-size:16px !important;
}

.list_big b{
    color:var(--white);
    font-weight: 700;
}

.profile_title > li{
    font-size: 13px;
    color:var(--white);
    font-weight: 400;
    letter-spacing: -0.01em;
    padding-left: 20px;
}

.go_write:hover{
    background-color: var(--green)!important;
    color:var(--white) !important;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.profile_title > p{
    margin:10px 0px;
    font-size: 14px;
}
.funding_write_container{
    margin-left: 80px;
    width:80%;
}

.funding_write_tagsearch{
    display: flex;
    justify-content: center;
    margin:0 auto;
    width:100%;
    border: 1px solid var(--secondary);
    border-radius: 5px;
    min-height:45px;
    background-color: var(--white);
}

.funding_write_tagsearch:focus-within{
    border: 1px solid var(--green);
}

.item_container{
    padding-top: 60px;
}

.info_area, .story_area, .maker_area, .reward_area {
padding-bottom: 40px;
}


.story_area_editor{
    padding-top: 20px;
    padding-bottom: 60px;
}
.reward_area{
    display: flex;
    flex-direction: column;
}

.profile_container > button > p{
    margin: 0px;
    display:block;
}

.profile_container ul {
    display:none;
}

.react-datepicker__view-calendar-icon input{
    padding: none !important;
}
.funding_write_container h1{
    color: var(--primary);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.02em;
    margin-bottom: 10px;
}

.funding_write_container h2{
    color:var(--primary);
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.02em;
    margin-bottom: 10px;
}


.funding_write_container p {
    color:var(--teritary);
font-size: 14px;
letter-spacing: -0.01em;
line-height: 24px;
}

.guide{
    background-color: var(--border);
    font-size: 14px;
    letter-spacing: -0.01em;
    padding:20px !important;
    border-radius: 7px;
}

.guide li{
    margin-bottom:5px;
}

.guide_bold{
    font-weight: 700;
    display:flex;
    align-items: center;
}

.guide_svg{
    width:18px;
    height:18px;
    margin-right: 5px;
}

.title_input,
.reward_input{
    height: 45px;
}

.title_input:focus,
.option_form:focus,
.reward_input:focus{
    border:1px solid var(--green) !important;
}

.value_input{
    display: flex;
    position: relative;
}

.value_input span{
    box-sizing: content-box;
    top: 12.5%;
    line-height: 28px;
    font-size: 16px;
    font-weight: 400;
    color:var(--teritary);
    position: absolute;
    height:auto;
    right: 0;
    text-align: left;
    padding-right: 16px;
}

.option_form{
margin-bottom: 10px;
}

.reward_input{
    margin-bottom: 10px;
}

.reward_item_area{
    background-color: var(--border);
    padding:20px;
    border-radius: 7px;
    margin-bottom: 40px;
}

.reward_btn{
    background-color: transparent;
    border: 1px solid var(--green);
    color: var(--green);
 margin-left: auto !important;
}


.reward_btn:hover{
    background-color: var(--green);
    border: 1px solid var(--green);
    color: var(--white);
}

.hr{
    display:none;
}



@media screen and (max-width: 1080px) {

    .funding_write_wrap h2 {
        font-size: 18px;
    }

    .profile_container ul {
        display:block;
    }

    .funding_write_wrap{
        margin-left: 0px;
        margin-right: 0px;
        margin-top: -10px;
        padding: 0px;
        flex-direction: column;
    }

    .item_container{
        height:auto;
        padding: 10px 0px;
    }
    
    .guide{
        background-color: var(--beige);
        border: 1px solid var(--beige);
        margin: 30px 0px;
    }
    .hr{
        border-color:var(--gray);
        margin-bottom: 30px !important;
        display:block;
    }

    .profile_container{
        border: none; 
    }


    .funding_profile_container{
        top:0;
        z-index: 1;
        background-color: var(--white);
        height:auto;
        width:100%;
        display: inline-block;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 6px 7px, rgba(0, 0, 0, 0.02) 0px 1px 0px;
    }

    .item_container{
        padding-top: 130px !important;
    }

    .item_container_title{
        margin-top: 30px;
    }
    .info_area, .story_area, .maker_area, .reward_area {
        margin-bottom: 20px;
        }

    .profile_title{
        display:none;
    }
    .profile_container{
        height:auto;
        padding:20px 7px;
        position: sticky;
        width:100%;
        flex-direction: row !important;
        align-items: center;
        justify-content: center;
    }
    .funding_write_container{
        margin-left: 0px;
        padding: 10px 20px;
        width:100%;
        background-color: #f9f9f9;
    }
    .go_write{
        width:20%;
        font-size: 13px;
        padding: 10px;
        margin-top: 0px;
        border-radius: 0px 0px 0px 0px;
    }
    .profile_container > button{
        font-size: 13px;
        padding:10px;
        border-radius: 0px;
        height:60px;
        border-radius: 7px;
        text-align: center;
        margin-bottom: 0px;
        margin-right: 5px;
        word-break:  keep-all;
        border-radius: none;
    }

   .item_container, .item_container_title{
        height:auto;
    }
    .reward_item_area{
        background-color: var(--beige);
    }
}