* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


*:focus {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.funding_write_wrap{
    padding: 10px 7px 50px 7px;
    margin:0 auto;
    max-width: 1080px;
    display:flex;
}

.funding_profile_container{
    height:500px;
    position:sticky;
    top: 50px !important;
    width:220px;
    display: flex;
    flex-direction: column;
    top: 50%;
}
.profile_container{
    margin-top: 20px;
}
.profile_container > button {
    background-color: transparent;
    width:100%;
    border: 1px solid var(--secondary);
    margin-bottom: 10px;
    border-radius: none !important;
    padding: 10px;
    text-align: left;
    color:var(--teritary);
    font-size: 14px;
    letter-spacing: -0.01em;
  }
  .profile_container > button:hover,
  .profile_container > button:active,
  .profile_container > button:focus {
    border: 1px solid var(--green);
    color: var(--green);
  }

  .profile_container > button > p{
    display: none;
  }

  .go_write{
    margin-top: 10px;
    border: none !important;
    color: var(--white) !important;
    border: none !important;
    text-align: left;
    padding: 10px;
    width:100%;
    border-radius: 0px 15px 0px 15px;
    background: linear-gradient(90deg, #1FAB89, transparent) #62D2A2 !important;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: background-color 1s;
}


.profile_title{
    border-radius: 0px 15px 0px 15px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, #1FAB89, transparent) #62D2A2;
justify-content: center;
padding: 30px 10px;
    color:white;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.01em;
    place-content: center;
    transition: background-color 1s;
}

.profile_title:hover, 
.go_write:hover{
    background-color: var(--green-dark) !important;
}

.profile_title > p{
    margin:10px 0px;
    font-size: 14px;
}
.funding_write_container{
    margin: 0px auto;
    width:70%;
}

.funding_write_tagsearch{
    margin:0 auto;
    width:100%;
    border: 1px solid var(--secondary);
    border-radius: 5px;
}

.item_container{
    padding-top: 50px;
}
.item_container, .item_container_title{
    height:100vw;
}

.info_area, .story_area, .maker_area, .reward_area {
padding-bottom: 40px;
}


.story_area_editor{
    padding-top: 20px;
    padding-bottom: 60px;
}
.reward_area{
    display: flex;
    flex-direction: column;
}
.date_area{
    width:100%;
    display:flex;
    align-items: center !important;
}

.date_item > span{
    font-weight: 700;
    font-size: 14px;
    margin-right: 10px;
}

.date_picker {
    border: 1px solid var(--secondary);
    border-radius: 7px;
margin-right: 30px;
height:45px;
padding:0px 15px;
}


.date_picker:focus{
    border:1px solid var(--green) !important;
}

.react-datepicker__view-calendar-icon input{
    padding: none !important;
}

.funding_write_container h1{
    color:var(--primary);
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.02em;
    margin-bottom: 10px;
}


.funding_write_container p {
    color:var(--teritary);
font-size: 14px;
letter-spacing: -0.01em;
line-height: 24px;
}

.guide{
    background-color: var(--green-light);
    color:var(--primary);
    font-size: 14px;
    letter-spacing: -0.01em;
    padding:20px !important;
    border-radius: 7px;
}

.guide li{
    margin-bottom:5px;
}

.guide_bold{
    font-weight: 700;
    display:flex;
    align-items: center;
}

.guide_svg{
    width:18px;
    height:18px;
    margin-right: 5px;
}

.title_input,
.reward_input{
    height: 45px;
}

.title_input:focus,
.option_form:focus,
.reward_input:focus{
    border:1px solid var(--green) !important;
}

.value_input{
    display: flex;
    position: relative;
}

.value_input span{
    box-sizing: content-box;
    top: 12.5%;
    line-height: 28px;
    font-size: 16px;
    font-weight: 400;
    color:var(--teritary);
    position: absolute;
    height:auto;
    right: 0;
    text-align: left;
    padding-right: 16px;
}

.option_form{
margin-bottom: 10px;
}

.reward_input{
    margin-bottom: 10px;
}

.reward_item_area{
    background-color: var(--green-light);
    padding:20px;
    border-radius: 7px;
    margin-bottom: 40px;
}

.reward_btn{
    background-color: transparent;
    border: 1px solid var(--green);
    color: var(--green);
 margin-left: auto !important;
}


.reward_btn:hover{
    background-color: var(--green);
    border: 1px solid var(--green);
    color: var(--white);
}

.hr{
    border-color:var(--gray);
    display:none;
}



  @media screen and (max-width: 870px) {
    .funding_write_wrap{
        margin-top: -10px;
        padding: 0px 7px;
        flex-direction: column;
    }

    .item_container{
        height:auto;
        padding: 10px 0px;
    }
    
    .hr{
        display:block;
    }
    .funding_profile_container{
        top: 0px !important;
        padding:10px 0px 20px 0px;
        z-index: 1;
        background-color: var(--white);
        height:auto;
        width:100%;
        display: inline-block;
        align-items: center;
    }

    .item_container{
        padding-top: 100px !important;
    }


    .profile_title{
        display:none;
    }
    .profile_container{
        top:0;
    position: sticky;
    margin-top: 0px;
    width:100%;
    display:flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: center;
    }
    .funding_write_container{
        width:100%;
    }
    .go_write{
        width:20%;
        font-size: 13px;
        padding: 10px;
        margin-top: 0px;
        border-radius: 0px 0px 0px 0px;
    }
    .profile_container > button{
        font-size: 13px;
        height:60px;
        text-align: center;
        margin-bottom: 0px;
        margin-right: 5px;
    }

    .profile_container > button > span{
        display:none;
    }
    .profile_container > button > p{
        display: inline-block;
        margin-bottom: 0px;
      }

    .funding_write_container{
        padding:20px 0px;
    }

   .hr{
    margin-bottom: 40px !important;
   }

  }
  
  @media screen and (max-width: 620px){
.date_area{
    display:contents;
}
.date_item{
    margin-top: 10px;
    align-items: center;
    width: 100%;
    display:flex;
}
  }