.funding_tagsearch {
  min-height: 45px;
  display:flex;
  width:60%;
  border: 1px solid var(--secondary);
  border-radius: 20px;
  background-color: var(--white);
}

.funding_tagsearch:focus-within {
  border-color: var(--green); 
}

/*태그검색, 펀딩 만들기*/
.funding_navarea{
  padding:10px;
  border-radius: 4px;
  align-items: center;
  background-color: var(--border);
  width:100%;
  display:flex;
}

.funding_createbtn {
  display:flex;
  align-items: center;
  padding:0px 15px;
  height:45px;
  border-radius: 20px;
  margin-bottom: 0px !important;
  font-size: 14px;
  color:var(--green);
  border: 1px solid var(--green);
  background-color: var(--white);
  margin-left: auto;
}

.funding_createbtn:hover {
  border: 1px solid var(--green);
  color:var(--white);
  background-color: var(--green);
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
-o-transition: all .4s ease-in-out;
-webkit-transition: all .4s ease-in-out;
}

.funding_createbtn:hover .create_svg{
  fill:var(--white);
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
-o-transition: all .4s ease-in-out;
-webkit-transition: all .4s ease-in-out;
}

.create_svg{
  fill:var(--green);
}


/*펀딩 목록 전체 박스*/
.funding_itemarea {
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding: 30px 0px;
 display:grid;
 justify-content: center;
 grid-template-columns: repeat(3, 1fr);
 column-gap: 25px;
}

.funding_taginput {
  flex: 1 1 10%;
}
.funding_tag{
  flex: 0 0 auto;
}

/*반응형*/
@media screen and (max-width: 768px/* md - medium screens */) {
  .funding_itemarea {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px/* sm - small screens */) {

  .funding_itemarea{
    padding: 0px;
    grid-template-columns: repeat(1, 1fr);
    width:100%;
  }

  .funding_navarea{
    flex-direction: column;
  }
  
  .funding_tagsearch{
    border-radius: 5px;
    width:100%;
    margin-bottom: 10px;
  }

  .funding_createbtn{
    border-radius: 5px;
    width:100%;
  }
}


