
.funding_container{
  padding: 10px 7px 50px 7px;
  margin:0 auto;
  max-width: 1080px;
}


.funding_tagsearch {
  width:60%;
}
.funding_navarea{
  align-items: center;
  width:100%;
  display:flex;
}

.funding_createbtn {

  margin-left: auto;

}

.go_create {
  margin-bottom: 0px !important;
  font-size: 16px;
  color:var(--green);
  font-weight: 700;
}

.funding_itemarea {
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding: 30px 0px;
 display:grid;
 justify-content: center;
 grid-template-columns: repeat(3, 1fr);
 column-gap: 20px;
}


.funding_card {
  align-items: center;
  border-radius: 0 !important;
  border: none !important;
  padding-bottom: 50px;
}


.funding_item_thumbnail {
  width:100%;
  aspect-ratio: 5/4;
  border: 1px solid var(--border);
  object-fit: cover !important;
}

.funding_tags_area {
  margin-top: 10px;
  padding:5px 0px;
  margin-bottom: 0px !important;
  display:flex;
}
.funding_item_tags  {
  color: var(--teritary);
  font-size: 14px;
  list-style: none;
  padding-left: 0px;
  margin-right: 7px;
  margin-bottom: 0px !important;
}

.funding_item_tags > li::before{
  content:'#'
}

.funding_item_title {
  height:55px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.01px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
}


.funding_progress_percantage {
  display:flex;
  margin-top: 10px;
  padding:5px 0px;
  align-items: center;
  color:var(--green);
  font-size: 16px;
  font-weight: 700;
}

.funding_progress_percantage > span {
  margin-left: 5px;
  font-weight: 500;
  color:var(--gray);
  font-size: 12px;

}
.progress_resttime{
  margin-left: auto !important;
  font-size: 12px;
  font-weight: 500;
  color:var(--green);
  text-align: center;
  justify-content: center;
  padding:0px 5px;
  background-color: var(--green-light);
}



/*mobile*/
@media screen and (max-width: 860px) {
  .funding_itemarea {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 570px) {
  .funding_itemarea{
    grid-template-columns: repeat(1, 1fr);
    
  }

  .funding_card{
    display:flex;
  }
  .funding_item_thumbnail{
    width:40%;
  }
  .funding_item_title, .funding_tags_area{
    margin-left: 15px;
  }

  .funding_progress_percantage {
    margin-left: 15px; 
  }
}

