/*전체 페이지- padding값 모든 페이지 공통*/
.funding_container{
  padding: 0px 7px 50px 7px;
  margin:0 auto;
  width:100%;
  max-width: var(--max-content-width);
}

.funding_tagsearch {
  min-height: 45px;
  display:flex;
  width:60%;
  border: 1px solid var(--secondary);
  border-radius: 20px;
  background-color: var(--white);
}

.funding_tagsearch:focus-within {
  border-color: var(--green); 
}

/*태그검색, 펀딩 만들기*/
.funding_navarea{
  padding:10px;
  border-radius: 4px;
  align-items: center;
  background-color: var(--border);
  width:100%;
  display:flex;
}

.funding_createbtn {
  display:flex;
  align-items: center;
  padding:0px 15px;
  height:45px;
  border-radius: 20px;
  margin-bottom: 0px !important;
  font-size: 14px;
  color:var(--green);
  border: 1px solid var(--green);
  background-color: var(--white);
margin-left: auto;
}

.funding_createbtn:hover {
  border: 1px solid var(--green);
  color:var(--white);
  background-color: var(--green);
  moz-transition: all .4s ease-in-out;
-o-transition: all .4s ease-in-out;
-webkit-transition: all .4s ease-in-out;
}

.funding_createbtn:hover .create_svg{
  fill:var(--white);
  moz-transition: all .4s ease-in-out;
-o-transition: all .4s ease-in-out;
-webkit-transition: all .4s ease-in-out;
}

.create_svg{
  fill:var(--green);
}

/*태그 검색결과가 0일 때*/
.no_tagresult{
  margin: 0 auto;
  font-size: 16px;
  min-width:600px;
  font-weight: 500;
  padding-left: 10px;
}

.no_tagresult > div{
  font-weight: 400;
  margin-top: 10px;
  border-radius: 7px;
  color:var(--teritary);
}


/*펀딩 목록 전체 박스*/
.funding_itemarea {
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding: 30px 0px;
 display:grid;
 justify-content: center;
 grid-template-columns: repeat(3, 1fr);
 column-gap: 25px;
}

.funding_taginput {
  flex: 1 1 10%;
}
.funding_tag{
  flex: 0 0 auto;
}

/*반응형*/
@media screen and (max-width: 768px/* md - medium screens */) {
  .funding_itemarea {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px/* sm - small screens */) {
  .funding_itemarea{
    padding: 0px;
    grid-template-columns: repeat(1, 1fr);
    width:100%;
  }
}



