.ImgArea img { 
  max-width: 150%;
  width: 150px;
  margin-top: 30px;
  
}

.styled-project .intro {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.005em;
  font-weight: bold;
  color: rgb(158, 158, 158);

  float: left;
  margin-top: -150px;
  margin-left: 180px;
  
}

.styled-project > h3 > a {
  float: left;
  text-decoration: none;
  line-height: 16px;
  font-weight: bold;
  letter-spacing: -0.02em;
  margin-top: -100px;
  margin-left: 180px;
}

.account  { 
  font-size: 14px;
  font-weight: bold;
  margin-left: 180px;
  position: absolute;
  margin-top: -40px;
}

.achivement { 
  font-size: 14px;
  color: rgb(255, 87, 87);
  text-align: center;
  margin-left: 260px;
  position: absolute;
  margin-top: -40px;

}

.state {
  font-size: 14px;
  text-align: center;
  margin-left: 325px;
  position: absolute;
  margin-top: -40px;
  
}

.container{
  
    padding: 18px 16px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 550px;
    margin-bottom: 40px;
}

.container {
  border: 1px solid rgb(230, 230, 230);
    border-radius: 4px;
}


.FundingInfor {
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  
}


.container table tbody th{
  width: 98px;
  vertical-align: top;
  text-align: center;
  padding: 4px 0px 4px 16px;
  font-weight: bold;
  position: absolute;
  margin-top: 10px;
  
}

.reward-title{
  position: absolute;
  margin-left: 110px;
  text-align: left; 
  margin-top: 13px;
}

.reward-list {
  margin-top: 60px;
  margin-left: 80px; 
  text-align: left; 
  
}

.reward-price {
 
  margin-left: 110px; 
  text-align: left; 
  margin-top: 13px;

}

.Address {
  border: 1px solid rgb(230, 230, 230);
    border-radius: 4px;
    padding: 30px;
    padding-left: 60px;
    width: 550px; 
    margin-bottom: 150px;
    
}

.AddressInfor { 
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 20px;

}

.Payment {
  font-size: 20px;
  font-weight: bold;
  margin-left: 600px;
  margin-top: -966px;
  margin-bottom: 20px;
  position: absolute;
}

.RoundedWrapper {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 20px;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 4px;
  position: absolute;
  margin-top: -915px;
  margin-left: 600px;
  padding: 20px;
  width: 550px;
  height: 98px;
  text-align: center;
  
}

.Sponsorship {
  position: absolute;
  margin-top: -440px;
  width: 550px;
  
}

.FinalAmount {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 4px;
  margin-top: -330px;
  margin-left: 600px;
  width: 400px;
  height: 50px;
  margin-bottom: 450px;
  padding: 10px;
  
  
}

.PledgeAmount{
  
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0,0,0,.1);
  margin-top: -680px;
  margin-left: 600px;
  padding: 30px;
  width: 550px;
  margin-bottom: 450px;
  position: absolute;
}
