/*제목입력란*/
.co_input{
  width: 100%;
  border: 1px solid var(--secondary);
  border-radius: 7px;
  height: 45px;
  line-height: 45px;
  padding-left: 7px;
  color:var(--teritary);
  margin-bottom: 20px;
  background-color: var(--white);
}

.co_input:focus {
  outline: none !important;
}

.co_input::placeholder {
  font-size: 14px;
  color: var(--teritary);
}

.co_h1 {
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.02px;
  margin-bottom: 15px;
}

.co_textarea {
  position: relative;
  height:380px;
  
}


.co_tagarea{
  border: 1px solid var(--secondary);
background-color: var(--white);
border-radius: 7px;
min-width: 45px;
margin-bottom: 20px;
}