@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap');

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.write-container {
  max-width: 900px;
  margin: 0 auto;
}

.write-wrap {
  padding: 50px 0px;
  margin: 0 auto;
  width: 85%;
  justify-content: center;
}

.write-wrap h4 {
  font-weight: 700;
  text-align: center;
}

.write-header {
  height: 50px;
  border-bottom: 1px solid var(--border);
  box-shadow: var(--boxshadow);
  margin-bottom: 40px;
}

.form-select:active {
  background-color: var(--border);
}

.label {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.02px;
  margin: 0 auto;
}

.submitbutton {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.submitbutton button {
  border: 1px solid var(--secondary);
  padding: 5px 30px;
  border-radius: 12px;
  font-size: 16px;
  margin: 5px;
  font-weight: bold;
}

.submitbutton button:hover {
  background-color: var(--green);
  border: 1px solid var(--green);
  color: var(--white);
  font-weight: bold;
}

.catSelect {
  height: 45px;
  width: 100%;
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 7px !important;
  color: var(--teritary);
}

.catSelect:focus {
  outline: none;
  border: 1px solid var(--secondary);
  box-shadow: none;
}


/* .catSelect option:hover{
  background-color: lime !important;
}

.catSelect option:focus {
  background-color: lime;
}

.catSelect option:active {
  background-color: lime;
} */



.Form.Select:active {
  background-color: var(--secondary);
  color: var(--dark);
}

