@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap');

:root {
  --black: #000;

  /*주요 컬러*/
  --dark: #0d0d0d;
  --primary: #191919;

  --teritary: #6d6d6d;
  --gray: #9e9e9e;

  /*border, hover*/
  --secondary: #d9d9d9;

  /*그림자, background, border*/
  --shadow: #f3f3f3;
  --white: #fff;

  /*포인트 컬러*/
  --green-dark: #1c6758;
  --green: #3d8361;
  --green-light: #eef2e6;
  --beige: #d6cda4;

  /*카테고리용 그림자*/
  --boxshadow: rgba(0, 0, 0, 0.08) 0px 6px 6px -7px;

  /* 타이포그래피
기본 폰트: 'Noto Sans KR', sans-serif;
weight: 400, (기본)
500,
700(강조)
자간: -0.01px;  */
}

* {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  color: var(--primary);
  letter-spacing: -0.01px;
}

.write-container {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 50px;
}

.write-wrap {
  margin: 0 auto;
  width: 85%;
  justify-content: center;
}

.write-wrap h4 {
  font-weight: 700;
  text-align: center;
}

.write-header {
  height: 50px;
  border-bottom: 1px solid var(--border);
  box-shadow: var(--boxshadow);
  margin-bottom: 40px;
}

.form-select:active {
  background-color: var(--border);
}

input,
textarea {
  margin-top: 10px;
  margin-bottom: 30px;
  width: 100%;
  border: 1px solid var(--secondary);
  border-radius: 5px;
}

input:focus,
textarea:focus {
  background-color: var(--border);
  outline: none;
}

input::placeholder,
textarea::placeholder {
  font-size: 14px;
  color: var(--teritary);
  padding: 7px;
}

input {
  height: 40px;
}

textarea {
  height: 450;
  resize: none;
}

h1,
.label {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.02px;
  margin: 0 auto;
}

.submitbutton {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.submitbutton button {
  border: 1px solid var(--secondary);
  padding: 5px 30px;
  border-radius: 12px;
  font-size: 16px;
  margin: 5px;
  margin-bottom: 40px;
  font-weight: bold;
}

.submitbutton button:hover {
  background-color: var(--green);
  border: 1px solid var(--green);
  color: var(--white);
  font-weight: bold;
}

.mb-3 {
  width: 100%;
}

.catSelect {
  width: 100%;
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.catSelect:focus {
  outline: none;
  border: 1px solid var(--secondary);
  box-shadow: none;
}

.catSelectList:active {
  border: 1px solid red;
  color: var(--dark);
  background-color: black;
}

.Form.Select:active {
  background-color: var(--secondary);
  color: var(--dark);
}
