@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap');

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.write-container {
  width:100%;
  max-width: var(--max-content-width);
  padding: 0px 10px 50px 10px;
  margin: 0 auto;
}

.write-wrap {
  background-color: #f9f9f9;
  border-radius: 7px;
  padding:30px 20px;
  width:100%;
  margin: 0 auto;
  justify-content: center;
  display:flex;
  flex-direction: column;
}



.label {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.02px;
  margin: 0 auto;
}

.submitbutton {
  margin-top: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.create_svg{
  fill:var(--green); 
  margin-right: 5px;
}

.submitbutton button {
  border: 1px solid var(--green);
  background-color: var(--white);
  color:var(--green);
  padding: 7px 25px;
  border-radius: 7px;
  font-size: 14px;
  margin: 5px;
  transition: border-color .2s,color .2s,background-color .2s;
}

.submitbutton button:hover {
  background-color: var(--green);
  border: 1px solid var(--green);
  color: var(--white);
}

.submitbutton button:hover .create_svg{
  fill:var(--white);
}

.catSelect {
  border-radius: 7px;
  height: 45px;
  width: 100%;
  font-size: 14px;
  margin-bottom: 20px;
  padding: 7px !important;
  color: var(--teritary);
}

.catSelect:focus {
  outline: none;
  border: 1px solid var(--secondary);
  box-shadow: none;
}


.tagsinputarea {
  display:flex;
  align-items: center;
  height: 45px;
  border: 1px solid var(--secondary);
  border-radius: 5px;
  }



.Form.Select:active {
  background-color: var(--secondary);
  color: var(--dark);
}

