.selectfundingmodal{
    padding: 10px;
}


.title{
    padding:0 !important;
}

.title > p {
    font-size: 14px;
    color:var(--teritary);
    margin-bottom:5px;
}
  
.title > h1 {
    font-size: 24px;
    letter-spacing: -0.01px;
    font-weight: 700;
    margin-bottom: 0px !important;
}

.selectfundingcardarea{
    padding: 20px 10px 10px 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.selectfundingcard-img{
    width:100px;
    height: 100px;
    border-radius: 7px;
    object-fit: cover;
}
  
.selectfundingcard{
    display:flex;
    align-items: center;
    width:100%;
    margin-bottom:10px;
    padding:15px;
    border: 1px solid var(--secondary);
    border-radius: 20px;
  }
  
  .sel_card_btn {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: var(--white) !important;
    border: 1px solid var(--green) !important;
    border-radius: 7px;
    color: var(--green);
  }
  
  .sel_card_btn:hover{
    color:var(--white);
    background-color: var(--green) !important;
  }
  
  .sel_card_body{
    width:67%;
    margin-left: 30px;
  }

  .sel_card_body > p {
    font-weight: 700;
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 0px;
  }

.sel_card_link{
  color:var(--teritary);
}

.filterbtnarea {
    display: flex; 
    justify-content: center;  
}

.closebtn {
    font-size: 14px;
    color:var(--white);
    border: none;
    border-radius: 4px !important;
    padding: 7px 15px;
    background-color: var(--teritary) !important;
}
