
/*전체 박스*/
.list-wrap {
  padding: 10px 7px 50px 7px;
  justify-content: center;
  align-items: center;
  max-width: 1080px;
  margin: 0 auto;
}

/*모달창 ui*/

.title{
  text-align: center;
  padding:0 !important;
  margin-top: 20px;
}
.title > p {
  font-size: 16px;
  color:var(--secondary);
  margin-bottom:0px;
}

.title > h1 {
  font-size: 24px;
  letter-spacing: -0.01px;
  font-weight: 700;
  margin-bottom: 0px !important;
}

.co-modal > label{
  color:black;
}

/*Filtering checkbox*/
.selecttable {
  padding: 20px 0px;
}

.mb-3{
  display:flex;
  align-items: center;
  justify-content: center;
}

.mb-3 > input{
  margin-bottom: 0px !important;
  margin-right: 10px;
  border:1px solid var(--green);
}
.mb-3 > input:focus{
 box-shadow: none !important;
 background-color: var(--green);
border:1px solid var(--green);}

.mb-3 > input:checked{
background-color: var(--green);
border:1px solid var(--green);
outline:none;
}

.mb-3 > label {
  font-size: 16px;
  letter-spacing: -0.01px;
  color: var(--primary);
}

 .filterbtnarea {
  margin-bottom: 20px;
  display: flex; 
  justify-content: center;  
}

.closebtn, .filteron {
  font-size: 14px;
  color:var(--white);
  border: none;
  border-radius: 7px;
  padding: 5px 10px;
background-color: var(--green-dark);
}

.closebtn:hover, .filteron:hover{
  transform:scale(1.05);
  transition: transform 200ms ease;
}

/*write modal*/
.selectfundingcardarea{
  padding: 30px 0px;
  display:flex;
  justify-content: center;
}

.selectfundingcard{
  display:flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width:30%;
  margin-right:10px;
}

.sel_card_btn {
  margin: 0 auto;
  margin: 0px !important;
  background-color: var(--white) !important;
  border: 1px solid var(--green-dark) !important;
  color: var(--green);
}

.sel_card_btn:hover{
  color:var(--white);
  background-color: var(--green-dark) !important;
}

.sel_card_body{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/*베스트 밑 게시판 전체 영역*/
.container {
  width: 100%;
  border-top: 1px solid var(--border);
  padding: 0 !important;
}

/*금주의 베스트*/
.slidercontents,
.slidercontents2 {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
}

.slidercontents img,
.slidercontents2 img {
  width:40%;
  max-height:280px;
  border-radius: 8px;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  background-color: var(--white) !important;
}


.slidercontents button,
.slidercontents2 button {
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  background-color: var(--secondary);
}

.wrapText .morebtn {
  font-size: 14px;
  color: var(--teritary);
  padding: 0;
  border: none;
  background-color: transparent;
}

.wrapText > h1 {
font-size: 24px;
font-weight: 700;
letter-spacing: -0.01px;
}

.d-none-d-md-block > p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.01px;
  }

.wrapText {
  margin-left: 5%;
}

/*필터링, 좋아요, 최신순 정렬*/
.nav {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.nav img {
  margin-right: 5px;
}

.writebtn {
  height: 32px;
  line-height: 32px;
  margin-left: auto !important;
}

.writebtn > p {
  color: var(--green);
  font-size: 14px;
}
.control {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0;
  max-height: 100px;
}

.sort-btn {
  display: flex;
}

.toggle {
  display: flex;
  justify-content: center;
}

.togglemenu {
  display: inline-flex;
  border: 1px solid var(--green);
  height: 32px;
  font-size: 14px;
  border-radius: 4px;
  padding: 0px 10px;
  line-height: 32px;
  margin-right: 5px;
}

.control > button {
  color: var(--green);
  display: inline-flex;
  background-color: var(--white);
  border: 1px solid var(--green);
  height: 32px;
  font-size: 14px;
  border-radius: 4px;
  padding: 0px 10px;
  line-height: 32px;
  margin: 0px 5px 0px 0px;
}

.category-wrap {
  display: flex;
}

/*글 목록 테이블*/
.board {
  width: 100% !important;
  margin: 0 !important;
  min-height: 600px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.board-table {
  font-size: 14px;
  width: 100%;
}

.board-table thead {
  border-bottom: 1px solid var(--border);
  box-shadow: var(--boxshadow);
}
.board-table a {
  color: #0d0d0d;
  display: inline-block;
  line-height: 1.4;
  word-break: break-all;
  vertical-align: middle;
}
.board-table a:hover {
  text-decoration: underline;
}
.board-table th {
  text-align: center;
}

.board-table .th-num {
  width: 75px;
  text-align: center;
}


.borad-table .th-cat {
  position: absolute;
  width: 100px;
  text-align: center;
}

.board-table .th-author {
  width: 100px;
}

.board-table .th-views {
  width: 75px;
}

.board-table th,
.board-table td {
  padding: 14px 0;
}

.board-table .td-title {
  max-width: 200px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.board-table .td-num {
  text-align: center;
  width: 75px;
}

.board-table .td-cat {
  text-align: center;
  width: 100px;
}

.board-table tbody td {
  text-align: center;
}

.board-table tbody th {
  padding-left: 28px;
  text-align: left;
}

.board-table tbody th p {
  display: none;
}

.board-table tbody tr {
  border-bottom: 1px solid var(--border);
}

.board-table tbody tr:hover {
  background-color: var(--border);
}

/*페이지네이션*/
.pagination {
  display:flex;
  margin-top: 20px;
  width: 100%;
  justify-content: center;
}
