
/*베스트 밑 게시판 전체 영역*/
.list-wrap {
  padding: 10px 10px 50px 10px;
  justify-content: center;
  align-items: center;
  max-width: 1080px;
  margin: 0 auto;
  width: 100%; /* 추가한 속성: 화면 너비를 100%로 설정하여 가운데 정렬 */
}



/*모달창 ui*/

.title{
  text-align: center;
  padding:0 !important;
  margin-top: 20px;
}
.title > p {
  font-size: 16px;
  color:var(--secondary);
  margin-bottom:0px;
}

.title > h1 {
  font-size: 24px;
  letter-spacing: -0.01px;
  font-weight: 700;
  margin-bottom: 0px !important;
}

.co-modal > label{
  color:black;
}

/*Filtering checkbox*/
.selecttable {
  padding: 20px 0px;
}

.mb-3{
  display:flex;
  align-items: center;
  justify-content: center;
}

.mb-3 > input{
  margin-bottom: 0px !important;
  margin-right: 10px;
  border:1px solid var(--green);
}
.mb-3 > input:focus{
 box-shadow: none !important;
 background-color: var(--green);
border:1px solid var(--green);}

.mb-3 > input:checked{
background-color: var(--green);
border:1px solid var(--green);
outline:none;
}

.mb-3 > label {
  font-size: 16px;
  letter-spacing: -0.01px;
  color: var(--primary);
}

 .filterbtnarea {
  margin-bottom: 20px;
  display: flex; 
  justify-content: center;  
}

.closebtn, .filteron {
  font-size: 14px;
  color:var(--white);
  border: none;
  border-radius: 7px;
  padding: 5px 10px;
background-color: var(--green-dark);
}

.closebtn:hover, .filteron:hover{
  transform:scale(1.05);
  transition: transform 200ms ease;
}

/*write modal*/
.selectfundingcardarea{
  padding: 30px 0px;
  display:flex;
  justify-content: center;
}

.selectfundingcard{
  display:flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width:30%;
  margin-right:10px;
}

.sel_card_btn {
  margin: 0 auto;
  margin: 0px !important;
  background-color: var(--white) !important;
  border: 1px solid var(--green-dark) !important;
  color: var(--green);
}

.sel_card_btn:hover{
  color:var(--white);
  background-color: var(--green-dark) !important;
}

.sel_card_body{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}



/*필터링, 좋아요, 최신순 정렬*/

.writebtn {
  display: flex;
  justify-content: end;
}

.writebtn-button {
  color: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border: 1px solid var(--green);
  font-size: 14px;
  border-radius: 7px;
  padding: 7px 15px;
  margin: 0px 5px 0px 0px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
}

.pencil-svg{
  width:14px;
  fill:var(--green);
  margin-right: 5px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
}

.writebtn-button:hover {
  color: var(--white);
  background-color: var(--green);
  border: 1px solid var(--green);
}

.writebtn-button:hover  .pencil-svg{
  fill:var(--white);
}


.control {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-right: 0;
  max-height: 100px;
}

.sort-btn {
  display: flex;
}

.toggle {
  display: flex;
  justify-content: center;
}


.control > button {
  color: var(--teritary);
  display: inline-flex;
  background-color: var(--white);
  border: 1px solid var(--teritary);
  height: 32px;
  font-size: 14px;
  border-radius: 7px;
  padding: 0px 10px;
  line-height: 32px;
  margin: 0px 5px 0px 0px;
}

.category-wrap {
  display: flex;
}

/*글 목록 테이블*/
.board {
  width: 100% !important;
  margin: 30px 0px;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.board-table {
  font-size: 14px;
  width: 100%;
}

.board-table thead {
  border-bottom: 1px solid var(--border);
  box-shadow: var(--boxshadow);
}
.board-table a {
  color: #0d0d0d;
  display: inline-block;
  line-height: 1.4;
  word-break: break-all;
  vertical-align: middle;
}
.board-table a:hover {
  text-decoration: underline;
}
.board-table th {
  text-align: center;
}

.board-table .th-num {
  width: 75px;
  text-align: center;
}


.borad-table .th-cat {
  position: absolute;
  width: 100px;
  text-align: center;
}

.board-table .th-author {
  width: 100px;
}

.board-table .th-views {
  width: 75px;
}

.board-table th,
.board-table td {
  padding: 14px 0;
}

.board-table .td-title {
  max-width: 200px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.board-table .td-num {
  text-align: center;
  width: 75px;
}

.board-table .td-cat {
  text-align: center;
  width: 100px;
}

.board-table tbody td {
  text-align: center;
}

.board-table tbody th {
  padding-left: 28px;
  text-align: left;
}

.board-table tbody th p {
  display: none;
}

.board-table tbody tr {
  border-bottom: 1px solid var(--border);
}

.board-table tbody tr:hover {
  background-color: var(--border);
}

/*페이지네이션*/
.pagination {
  display:flex;
  margin-top: 20px;
  width: 100%;
  justify-content: center;
}


@media screen and (max-width: 576px/* sm - small screens */) {
.control{
  display:flex;
  width:100%;
  justify-content: center;
}

.board-table .th-num,
.board-table .td-num {
  display:none;
}

.board-table .th-views,
.board-table .td-views {
  display:none;
}

.control > button {
  line-height: 25px;
  width: calc((100% - (4 * 7px)) / 4);
  border: transparent;
height:auto;
display:flex;
justify-content: center;
align-items: center;
margin-right: 7px;
word-break:  keep-all;
margin-bottom: 7px;
}

.control > button:hover, 
.control > button:active{
  border-radius: 20px;
  background-color: var(--border);
}

.writebtn {
  display: flex;
  margin-left: 0px;
}

}
