.co-page_s4m49_1 .page-link{
    background-color: transparent !important;
    border: none !important;
    color: var(--teritary) !important;
}

.co-page_s4m49_1 .page-link:hover{
    background-color: transparent !important;
    border: none !important;
    color: var(--green) !important;
}

.co-page_s4m49_1 .active .page-link{
    background-color: none !important;
    border: none !important;
    color: var(--green) !important;
}